<!DOCTYPE html>
<html>
<head>
  <title>Doto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="nav navbar-inverse">
    <div class="container" >
      <div class="navbar-header">
        <%= link_to "Doto", root_path, class: "navbar-brand"  %>
      </div>
      <div id="navbar">
        <% if current_user %>
          <ul class="nav navbar-nav pull-right">
            <li><%= image_tag current_user.avatar_url, alt: current_user.nickname %></li>
            <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Log In via Steam', '/auth/steam' %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
